<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>First</title>
</head>
<body>
    <div style="width: 1500px;height: 15px; border:solid 1px silver">
        <div id="innerDiv1" style="background-color: red;height: 100%;width: 0%;float: left"></div>
        <div id="innerDiv2" style="background-color: yellow;height: 100%;width:0%;float: left"></div>
        <div id="innerDiv3" style="background-color: blue;height: 100%;width: 0%;float: left"></div>
    </div>
    <input id="innerInput" onkeyup="selfFun(-1);">
    <button onclick="begin()">开始</button>
    <button onclick="stop()">停止</button>
</body>
<script th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript">
//    $(function(){
//        setInterval("selfFun(Math.random()*100)","500");
//    });
    var s;
    function begin(){
        s= window.setInterval("selfFun(Math.random()*100)","500");
    }
    function stop(){
        window.clearInterval(s);
    }
    function selfFun(num){
        var s1;
        var s2;
        var s3;
        var s=$('#innerInput').val();
        if(num != -1){
            s=num;
        }
        if(s>=100){
            s1=33.3;
            s2=33.3;
            s3=33.3;
        }else if(s>66.6){
            s1=33.3;
            s2=33.3;
            s3=s-s1-s2;
        }else if(s>33.3){
            s1=33.3;
            s2=s-33.3;
            s3=0;
        }else if(s>0){
            s1=s;
            s2=0;
            s3=0;
        }else{
            s1=0;
            s2=0;
            s3=0;
        }
        $('#innerDiv1').width(s1+'%');
        $('#innerDiv2').width(s2+'%');
        $('#innerDiv3').width(s3+'%');
    }
</script>
</html>